
img{
  width: 100%;

}

.home{
    height:400px;

}
.font{
    font-size: 30px;


}
.home img{
    height:400px;
    overflow:hidden;
}

body{
    min-height: 100%;
    font-family: 'Playfair Display SC', serif;

     overflow: scrollable;



}

h2{
    font-family: 'Playfair Display SC', serif;
    color: #E63462;
    padding: 10px;


}
.navbar{
    font-size: 15px;
    color:  #132226;
}
#index{
    background-color: #D8D583;
    color:#fff;
    color:#720017;
    font-size:30px;
}
.panel{
    background-color: #D8D583;
}
.panel-heading{
    color:#720017;
    font-size: 20px;
}