
img{
  width: 100%;

}

.home{
    height:400px;

}

.home img{
    height:400px;
    overflow:hidden;
}

body{
    min-height: 100%;
    font-family: 'Playfair Display SC', serif;

     overflow: scrollable;



}

h2{
    font-family: 'Playfair Display SC', serif;
    color: #720017;
    padding: 10px;
}
h3{
    font-family: 'Playfair Display SC', serif;
    color: #720017;
    padding: 10px;
}

#index{
    background-color: #D8D583;
    color:#fff;
    color:#720017;
}
.panel{
    background-color: #D8D583;
    padding:10px;
    margin:10px;
    height:auto;
}
.panel-heading{
    color:#720017;
    font-size: 20px;
}
.navlink{
    text-decoration:underline;
    color:#720017;
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    font-weight:bold;
}