<body>
{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}
<!-- Content block -->


<!-- Content block -->
{% block content %}

<div class="container">
    <div class="row">
        <h2>Food Blogs</h2>
      <div class= "col-md-6">


        <img class="full" src="/static/images/bulb.png" alt="login image">

      </div>
      <div class="col-md-6">
           {{ macro.display(foodie) }}

     </div>
    </div>
</div>


{% endblock%}
</body>