<body>
{% extends 'base.html' %}
<!--{% import 'macros.html' as macro%}-->


<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}
<!-- Content block -->


<!-- Content block -->
{% block content %}
<div class="container">
	<div class="row">
		<div class="row home">
			<img class="full" src="/static/images/blog1.png" alt="login image">


		</div>
		<div class="row">

		</div>

	</div>

</div>


{% endblock%}
</body>