{% macro display(category_list) %}
<div class="row">
	{% if category_list %}
		{% for category in category_list %}
		<div class="col-md-6">
            <div class="panel panel-danger">
      <div class="panel-heading">{{category.title}}</div>
      <div class="panel-body">{{category.description}}
      	<blockquote class="blockquote mb-0">
					<h2></h2>
					<footer class="blockquote-footer"> Posted by {{category.user.username}}</footer>
				</blockquote></div>
                <div class="panel-footer"><a href="{{url_for('main.new_comment',pitch_id = category.id)}}"> Add a comment</a>
				<a href="{{url_for('main.upvote',pitch_id = category.id)}}"><i class="fas fa-heart"></i>Read More<span>{{category.upvotes.count()}}</span></a>

</div>
    </div>

		</div>
		{% endfor %}
	{% else %}
	{% endif %}
</div>
{% endmacro %}



{% macro displayComment(comments) %}
<ul>

			{% if comments %}
			{% for comment in comments %}
				<div class="row text-center">
						<a><p style="color: brown">{{ comment.description }}</p></a>
						<small> posted by {{comment.user.username}}</small>
				</div>
			{% endfor %}
			{% else %}

			<h3>No comments</h3>
			{%endif%}

	</ul>


{% endmacro %}